
<!-- <br><br><br><br><br> -->
<!-- <div class="container">
  <div class="row" >
    <div class="col-sm-4 " *ngFor="let pack of packagees" >
      <div class="card customcard">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="dark">
          <img src="{{pack.pimageUrl}}" width="100%" height="300px"/>
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
    <h4 class="card-title text-success"> {{pack.packageName}}</h4>
    <p class="text-success"><b>Price:</b>  {{pack.packagePrice}} <small>Only</small></p>

    <h5>
      <b><i>Category</i></b> :{{pack.packageCategory}}
    </h5>
    <small>{{pack.packageDescription}}</small>
<br><br>
      <button type="button" class="btn btn-warning  btn-sm"routerLink="/cities" >Go to Cities</button>&nbsp;
      <button type="button" class="btn btn-primary  btn-sm" routerLink="/place">Places</button>&nbsp;
       <button type="submit" class="btn btn-success btn-sm" (click)="bookNow(pack.packageId)" >BookNow</button>
        </div>
      </div>
    </div>
  </div>
</div> -->
<style>
  .main-c{
    background: var(--aysh);
  }
  .card-body{
    background: var(--aysh);
    border: 5px solid #fff;
  }
  .card-title{
    color: var(--orange);
    text-transform: uppercase;
  }
</style>
<div class="main-c">
  <br><br><br><br><br>
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-4 col-lg-4" *ngFor="let pack of packages" >
  
        <div class="card" style="height: 700px;" style="margin: 50px;">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="dark">
            <img src="{{pack.pimageUrl}}" width="100%" height="300px"(click)="bookNow(pack.packageId)" /> 
          </div>
          <div class="card-body">
            <h4 class="card-title " style="font-weight:1000;color:#fff;" > {{pack.packageName}}</h4>
            <p class="text-dark" style="font-weight:1000; color:yellowgreen;"><b>Price:</b>  {{pack.packagePrice | currency:'INR'}}  <small> Only</small></p>    
            <h5 style="font-weight:1000; color:#000000">
              <b><i>Category</i></b> :{{pack.packageCategory}}
            </h5>
            <div style="height: 150px; overflow:hidden;" >
              <small style="height: 200px;color:#000000;" >{{pack.packageDescription}}</small>
            </div>
            <br>
            <button type="button" class="btn btn-warning  btn-sm"routerLink="/cities" >Back</button>&nbsp;
        <button type="button" class="btn btn-primary  btn-sm" (click)="places(pack.packageId)">Places</button>&nbsp;
         <button type="submit" class="btn btn-success btn-sm" (click)="bookNow(pack.packageId)" >BookNow</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
