<div>
    <div>
 <img src="https://cdn3.iconfinder.com/data/icons/chat-bot-emoji-blue-filled-color/300/3551860Untitled-3-1024.png" width="100px" height="100px"  alt="sarudr">
 <div>  

 </div>
        <div>Sarudr ChatBot</div>
      <br>
    </div>

    <div>
    
        <div>
            <input type="text" value=" Hi! I'm Sarudr !
          " disabled="true">
          <!-- <input type="text" value=" Nice to meet u !
          " disabled="true"> -->
            <input type="text" value="How can i help u ??"disabled="true" >

        </div>

<br><br><br><br><br><br><br>
<input type="text" [(ngModel)]="message" disabled="true">
<div>
    <textarea type="text" disabled="true" [(ngModel)]="response" ></textarea>
</div>
        <div>
            <input type="text" [(ngModel)]="message">
            <button (click)="msgsend()"><i class="fa-solid fa-paper-plane"></i></button>
        </div>
        <br>
       
    </div>
</div>